@import "../../variables";


.bubble-card-content {
  word-break: normal;
  display: inline-block;

}

.bubble-card {
  width: fit-content;
  max-width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 15px;
  border-top-left-radius: 0;
  background-color: $bubble-card-background-color;
  color: #424242;
}

.bubble-card-media {
  display: block;
  max-width: 250px;
  max-height: 200px;
}

.message-content-bot{
  .BubbleWidget{
    .bubble-card {
      width: fit-content;
      max-width: 100%;
      padding: 10px;
      margin: 6px 0;
      border-radius: 15px;
      border-top-left-radius: 0;
      background-color: $chat-background-color-left;
      color: $text-color;
    }
  }
}

.message-content-user{
  .BubbleWidget{
    .bubble-card {
      width: fit-content;
      max-width: 100%;
      padding: 10px;
      margin: 6px 0;
      border-radius: 15px;
      border-top-right-radius: 0;
      //background-color: $chat-background-color-right;
      background: rgba(254,49,114,1);
      background: -moz-linear-gradient(left, rgba(254,49,114,1) 0%, rgba(246,40,60,1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,49,114,1)), color-stop(100%, rgba(246,40,60,1)));
      background: -webkit-linear-gradient(left, rgba(254,49,114,1) 0%, rgba(246,40,60,1) 100%);
      background: -o-linear-gradient(left, rgba(254,49,114,1) 0%, rgba(246,40,60,1) 100%);
      background: -ms-linear-gradient(left, rgba(254,49,114,1) 0%, rgba(246,40,60,1) 100%);
      background: linear-gradient(to right, rgba(254,49,114,1) 0%, rgba(246,40,60,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe3172', endColorstr='#f6283c', GradientType=1 );
      color: $white;
    }
  }
}