@import "../../variables";

.bubble-card img {
  width: 50%;
}

.bubble-card-content {
  word-break: normal;
  display: inline-block;

}

.bubble-card {
  width: fit-content;
  max-width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 15px;
  border-top-left-radius: 0;
  background-color: $bubble-card-background-color;
  color: #424242;
}

.bubble-card-media {
  display: block;
  max-width: 250px;
  max-height: 200px;
}

.message-content-bot{
  .BubbleWidget{
    .bubble-card {
      width: fit-content;
      max-width: 100%;
      padding: 10px;
      margin: 6px 0;
      border-radius: 15px;
      border-top-left-radius: 0;
      background-color: $chat-background-color-left;
      color: $text-color;
    }
  }
}

.message-content-user{
  .BubbleWidget{
    .bubble-card {
      width: fit-content;
      max-width: 100%;
      padding: 10px;
      margin: 6px 0;
      border-radius: 15px;
      border-top-right-radius: 0;
      background-color: $chat-background-color-right;
      color: $white;
    }
  }
}