@import "../../variables";


.bubble-card-content {
  word-break: normal;
  display: inline-block;

}

.bubble-card {
  width: fit-content;
  max-width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 15px;
  border-top-left-radius: 0;
  color: $white;
}

.bubble-card-media {
  display: block;
  max-width: 250px;
  max-height: 200px;
}

.message-content-bot{
  .BubbleWidget{
    .bubble-card {
      width: fit-content;
      max-width: 100%;
      padding: 17px;
      margin: 15px 0;
      border-radius: 15px;
      font-size: $bot-font-size-18;
      border-top-left-radius: 0;
      background-color: $white;
      box-shadow: 0 0 12px 0 $bot-theme-bot-shadow;
      color: $bot-theme-text;
    }
  }
}

.message-content-user{
  .BubbleWidget{
    .bubble-card {
      width: fit-content;
      max-width: 100%;
      padding: 17px;
      margin: 0 0 0 auto;
      border-radius: 15px;
      font-size: $bot-font-size-18;
      border-top-right-radius: 0;
      background-color: $bot-theme-user-bot;
      box-shadow: 0 0 12px 0 $bot-theme-bot-shadow;
      color: $white;
    }
  }
}

@media only screen and (max-width: 767px) {


  .message-content-bot{
    .BubbleWidget{
      .bubble-card {
        padding: 13px;
        margin: 10px 0;
        font-size: $bot-font-size-16;
      }
    }
  }

  .message-content-user{
    .BubbleWidget{
      .bubble-card {
        padding: 13px;
        margin: -5px 0;
        border-radius: 15px;
        font-size: $bot-font-size-16;

      }
    }
  }



}