
$bot-font-size-15: 0.9375rem;
$bot-font-size-16: 1rem;
$bot-font-size-18: 1.125rem;
$bot-font-size-19: 1.1875rem;
$bot-font-size-22: 1.375rem;
$bot-font-size-32: 2rem;
$bot-font-size-45: 2.8125rem;



$white:#ffffff;
$black:#000000;
$bot-theme-powered-background:rgba(0,0,0,0.3);
$bot-theme-body:#9aa3ab;
$bot-theme-subbody:#e4f1fb;
$bot-theme-bot-shadow:#cbdeec;
$bot-theme-text:#616c6f;
$bot-theme-text-filed-border:#efefef;
$bot-theme-text-filed-border-hover:#bfe5f1;
$bot-theme-user-bot:#b3c9da;
$bot-theme-button-hover:#2f72a7;
$bot-theme-icon:#b3c9da;
$bot-theme-slider-icon:rgba(179, 201, 218,0.4);
$bot-theme-rating:#3ad4fb;
$bot-theme-rating-disable:#dbe8f3;


%bot-theme-date-picker {
  background: rgba(134,147,158,1);
  background: -moz-linear-gradient(left, rgba(134,147,158,1) 0%, rgba(180,214,240,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(134,147,158,1)), color-stop(100%, rgba(180,214,240,1)));
  background: -webkit-linear-gradient(left, rgba(134,147,158,1) 0%, rgba(180,214,240,1) 100%);
  background: -o-linear-gradient(left, rgba(134,147,158,1) 0%, rgba(180,214,240,1) 100%);
  background: -ms-linear-gradient(left, rgba(134,147,158,1) 0%, rgba(180,214,240,1) 100%);
  background: linear-gradient(to right, rgba(134,147,158,1) 0%, rgba(180,214,240,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86939e', endColorstr='#b4d6f0', GradientType=1 );
}

%bot-theme-dropdown {
  background: rgba(134,147,158,1);
  background: -moz-linear-gradient(left, rgba(134,147,158,1) 0%, rgba(180,214,240,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(134,147,158,1)), color-stop(100%, rgba(180,214,240,1)));
  background: -webkit-linear-gradient(left, rgba(134,147,158,1) 0%, rgba(180,214,240,1) 100%);
  background: -o-linear-gradient(left, rgba(134,147,158,1) 0%, rgba(180,214,240,1) 100%);
  background: -ms-linear-gradient(left, rgba(134,147,158,1) 0%, rgba(180,214,240,1) 100%);
  background: linear-gradient(to right, rgba(134,147,158,1) 0%, rgba(180,214,240,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86939e', endColorstr='#b4d6f0', GradientType=1 );
}

%bot-theme-button {
  background: rgba(111,134,247,1);
  background: -moz-linear-gradient(-45deg, rgba(111,134,247,1) 0%, rgba(90,165,250,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(111,134,247,1)), color-stop(100%, rgba(90,165,250,1)));
  background: -webkit-linear-gradient(-45deg, rgba(111,134,247,1) 0%, rgba(90,165,250,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(111,134,247,1) 0%, rgba(90,165,250,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(111,134,247,1) 0%, rgba(90,165,250,1) 100%);
  background: linear-gradient(135deg, rgba(111,134,247,1) 0%, rgba(90,165,250,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f86f7', endColorstr='#5aa5fa', GradientType=1 );
}

%bot-theme-hover-button {
  background: rgba(80,102,199,1);
  background: -moz-linear-gradient(-45deg, rgba(80,102,199,1) 0%, rgba(38,88,141,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(80,102,199,1)), color-stop(100%, rgba(38,88,141,1)));
  background: -webkit-linear-gradient(-45deg, rgba(80,102,199,1) 0%, rgba(38,88,141,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(80,102,199,1) 0%, rgba(38,88,141,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(80,102,199,1) 0%, rgba(38,88,141,1) 100%);
  background: linear-gradient(135deg, rgba(80,102,199,1) 0%, rgba(38,88,141,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5066c7', endColorstr='#26588d', GradientType=1 );
}








