$primary-color: #333;
$body-font: 'Avenir', Helvetica, Arial, sans-serif;
$body-font-color: #2c3e50;
$primary-font-color: whitesmoke;
$primary-background-color: #cbddff;

//Bubble Card
$bubble-card-font-color: $primary-font-color;
$bubble-card-background-color: $primary-background-color;

//Buttons Widget
$button-background-color: #586eaf;
$button-font-color: white;
$button-border: 1px solid #121180;
$button-background-color-hover: #f9f9f9;
$button-font-color-hover: black;
$button-border-hover: 1px solid #121180;
