@font-face {font-family: "AzoSansW01-Regular";
  src: url("././../../../../static/assets/fonts/Azosans/176b61e4e4c448d232fdbf51d2953d3f.eot");
  src: url("././../../../../static/assets/fonts/Azosans/176b61e4e4c448d232fdbf51d2953d3f.eot?#iefix") format("embedded-opentype"),
  url("././../../../../static/assets/fonts/Azosans/176b61e4e4c448d232fdbf51d2953d3f.woff2") format("woff2"),
  url("././../../../../static/assets/fonts/Azosans/176b61e4e4c448d232fdbf51d2953d3f.woff") format("woff"),
  url("././../../../../static/assets/fonts/Azosans/176b61e4e4c448d232fdbf51d2953d3f.ttf") format("truetype");
}


html {
  box-sizing: border-box;
  overflow-y: hidden;
  -webkit-text-size-adjust: 100%;
  //font-family: Roboto,sans-serif;
  font-family: "AzoSansW01-Regular";
}

body {
  overflow-x: hidden !important;
  background-color: $bot-theme-body !important;
  //font-family: Roboto,sans-serif;
  font-family: "AzoSansW01-Regular";
}

#app {
  text-align: center;
  background-color: $bot-theme-body;
  height: 100vh;
  //font-family: Roboto,sans-serif;
  font-family: "AzoSansW01-Regular";
}

.primary--text {
  color: $bot-theme-icon !important;
}


.accent{
  background-color: $bot-theme-body !important;
  border-color: $bot-theme-body !important;
  color: $white !important;
  span{
    color: $white !important;
  }
}



*{
  -webkit-overflow-scrolling: touch;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-track {
  background: transparent
}



/* Handle */
::-webkit-scrollbar-thumb {
  background: #d4d4d4;
}

.bot-home{
  height: 100%;
  //display: table;
  width: 450px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {

  .bot-home{
    height: 100%;
    display: table;
    width: 100%;
    margin: 0 auto;
  }

}