
.p-0 {
  padding: 0px !important;
}

.p-8 {
  padding: 8px !important;
}

.p-10 {
  padding: 10px !important;
}

.p-12 {
  padding: 12px !important;
}

.p-16 {
  padding: 16px !important;
}

.p-20 {
  padding: 20px !important;
}

.p-30 {
  padding: 30px !important;
}

.p-t-0 {
  padding-top: 0px !important;
}

.p-r-0 {
  padding-right: 0px !important;
}

.p-b-0 {
  padding-bottom: 0px !important;
}

.p-b-24 {
  padding-bottom: 24px !important;
}

.p-l-24 {
  padding-left: 24px !important;
}

.p-r-24 {
  padding-left: 24px !important;
}
.p-t-24 {
  padding-left: 24px !important;
}

.p-l-0 {
  padding-left: 0px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.p-t-6{
  padding-top: 6px;
}

.p-r-10 {
  padding-right: 10px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.p-l-10 {
  padding-left: 10px !important;
}

.p-b-12 {
  padding-bottom: 12px !important;
}

.p-t-12 {
  padding-top: 12px !important;
}

.p-t-16 {
  padding-top: 16px !important;
}

.p-r-16 {
  padding-right: 16px !important;
}

.p-b-16 {
  padding-bottom: 16px !important;
}

.p-l-15 {
  padding-left: 15px !important;
}

.p-l-16 {
  padding-left: 16px !important;
}

.p-t-20 {
  padding-top: 20px !important;
}

.p-r-20 {
  padding-right: 20px !important;
}

.p-b-20 {
  padding-bottom: 20px !important;
}

.p-l-20 {
  padding-left: 20px !important;
}

.p-r-32 {
  padding-right: 32px !important;
}

.p-l-32 {
  padding-left: 32px !important;
}

.p-t-32{
  padding-top: 32px !important;
}

.p-b-32{
  padding-top: 32px !important;
}

.m-0 {
  margin: 0px !important;
}

.m-10 {
  margin: 10px !important;
}

.m-20 {
  margin: 20px !important;
}

.m-30 {
  margin: 30px !important;
}

.m-t-0 {
  margin-top: 0px !important;
}

.m-t-5 {
  margin-top: 5px !important;
}

.m-r-0 {
  margin-right: 0px !important;
}

.m-b-0 {
  margin-bottom: 0px !important;
}

.m-l-0 {
  margin-left: 0px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-r-20 {
  margin-right: 20px !important;
}

.m-r-16 {
  margin-right: 16px !important;
}

.p-r-16 {
  margin-right: 16px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-l-20 {
  margin-left: 20px !important;
}

.m-t-22 {
  margin-top: 22px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.m-r-30 {
  margin-right: 30px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.m-l-30 {
  margin-left: 30px !important;
}

.m-b-64 {
  margin-bottom: 64px !important;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}

.clearfix {
  clear: both;
}
