.bot-button-round{
  box-shadow: none !important;
  @extend %bot-theme-button;
  color: $white !important;
  margin: 0px 0;
  border-radius: 50px;
  &:hover{
    @extend %bot-theme-hover-button;
    color: $white !important;
  }
}

.bot-button{
  box-shadow: none !important;
  @extend %bot-theme-button;
  color: $white !important;
  margin: 0;
  height: 50px;
  padding: 0 20px;
  border-radius: 50px;
}