.bot-text-field {
  .v-input__control {
    .v-input__slot {
      border-radius: 50px;
      margin-bottom: 0;
      .v-text-field__slot {
        input {
          margin-top: 10px;
        }
      }
    }
    .v-text-field__details {
      display: none;
    }
  }
}