.bot-text-field {
  margin-top: 0;
  .v-input__control {
    .v-input__slot {
      border-radius: 10px;
      margin-bottom: 0;
      .v-text-field__slot {
        input {
          color: $bot-theme-text;
          margin-top: 5px;
          padding-left: 10px;
          margin-bottom: 5px;
          font-size: $bot-font-size-19;
        }
      }
      .v-input__prepend-inner{
        .v-input__icon{
          i{
            color: $bot-theme-text;
            &:hover{
              color: $bot-theme-text;
            }
          }
        }
      }
    }
    .v-text-field__details {
      display: none;
    }
  }

.v-input__control > .v-input__slot:before{
  border-color: $bot-theme-text-filed-border !important;
  //border-color: transparent !important;
}

  .v-input__control > .v-input__slot:after{
    border-width: thin 0 0 0 !important;
    border-color: $bot-theme-text-filed-border-hover !important;
    //border-color: transparent !important;
  }


}


.bot-text-field-password {
  margin-top: 0;
  .v-input__control {
    .v-input__slot {
      border-radius: 10px;
      margin-bottom: 0;
      .v-text-field__slot {
        input {
          color: $bot-theme-text;
          margin-top: 5px;
          margin-bottom: 5px;
          margin-left: 10px;
          font-size: $bot-font-size-32;
        }
      }
      .v-input__prepend-inner{
        .v-input__icon{
          i{
            color: $bot-theme-text;
            &:hover{
              color: $bot-theme-text;
            }
          }
        }
      }
    }
    .v-text-field__details {
      display: none;
    }
  }

  .v-input__control > .v-input__slot:before{
    border-color: $bot-theme-text-filed-border !important;
    //border-color: transparent !important;
  }

  .v-input__control > .v-input__slot:after{
    border-width: thin 0 0 0 !important;
    border-color: $bot-theme-text-filed-border-hover !important;
    //border-color: transparent !important;
  }


}


.bot-text-field-autocomplete {
  margin-top: 0;
  .v-input__control {
    .v-input__slot {
      border-radius: 10px;
      margin-bottom: 0;
      .v-text-field__slot {
        input {
          color: $bot-theme-text;
          margin-top: 5px;
          margin-bottom: 5px;
          margin-left: 10px;
          font-size: $bot-font-size-32;
        }
      }

      .v-select__slot{
        margin-bottom: 7px;
        margin-left: 10px
      }
      .v-input__prepend-inner{
        .v-input__icon{
          i{
            color: $bot-theme-text;
            &:hover{
              color: $bot-theme-text;
            }
          }
        }
      }
    }
    .v-text-field__details {
      display: none;
    }
  }

  .v-input__control > .v-input__slot:before{
    border-color: $bot-theme-text-filed-border !important;
    //border-color: transparent !important;
  }

  .v-input__control > .v-input__slot:after{
    border-width: thin 0 0 0 !important;
    border-color: $bot-theme-text-filed-border-hover !important;
    //border-color: transparent !important;
  }


}


.bot-text-field-email {
  margin-top: 0;
  .v-input__control {
    .v-input__slot {
      border-radius: 10px;
      margin-bottom: 0;
      .v-text-field__slot {
        input {
          color: $bot-theme-text;
          margin-top: 5px;
          margin-bottom: 5px;
          margin-left: 10px;
          font-size: $bot-font-size-19;
        }
      }
      .v-input__prepend-inner{
        .v-input__icon{
          i{
            color: $bot-theme-text;
            &:hover{
              color: $bot-theme-text;
            }
          }
        }
      }
    }
    .v-text-field__details {
      display: none;
    }
  }

  .v-input__control > .v-input__slot:before{
    border-color: $bot-theme-text-filed-border !important;
    //border-color: transparent !important;
  }

  .v-input__control > .v-input__slot:after{
    border-width: thin 0 0 0 !important;
    border-color: $bot-theme-text-filed-border-hover !important;
    //border-color: transparent !important;
  }


}


.bot-text-filed-buttton-broder{
  //border: 1px solid $bot-theme-text-filed-border;
  padding: 0 0 0 10px;
}



@media only screen and (max-width: 767px) {

  .bot-text-field {

    .v-input__control {
      .v-input__slot {

        .v-text-field__slot {
          input {
            font-size: $bot-font-size-16;
          }
        }
      }
    }
  }


  .bot-text-field-email {
    .v-input__control {
      .v-input__slot {
        .v-text-field__slot {
          input {
            color: $bot-theme-text;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 10px;
            font-size: $bot-font-size-16;
          }
        }
      }
    }
  }

}