/* Variables scss imported */
/* Base scss imported */
html {
  box-sizing: border-box;
  overflow-y: hidden;
  -webkit-text-size-adjust: 100%;
  font-family: Roboto, sans-serif;
}

body {
  overflow-x: hidden !important;
  background-color: #E0FBFC !important;
  font-family: Roboto, sans-serif;
}

#app {
  text-align: center;
  background-color: #E0FBFC;
  height: 100vh;
  font-family: Roboto, sans-serif;
}

.primary--text {
  color: #000000 !important;
}

* {
  -webkit-overflow-scrolling: touch;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d4d4d4;
}

.bot-home {
  height: 100%;
  width: 450px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .bot-home {
    height: 100%;
    display: table;
    width: 100%;
    margin: 0 auto;
  }
}
.p-0 {
  padding: 0px !important;
}

.p-8 {
  padding: 8px !important;
}

.p-10 {
  padding: 10px !important;
}

.p-12 {
  padding: 12px !important;
}

.p-16 {
  padding: 16px !important;
}

.p-20 {
  padding: 20px !important;
}

.p-30 {
  padding: 30px !important;
}

.p-t-0 {
  padding-top: 0px !important;
}

.p-r-0 {
  padding-right: 0px !important;
}

.p-b-0 {
  padding-bottom: 0px !important;
}

.p-b-24 {
  padding-bottom: 24px !important;
}

.p-l-24 {
  padding-left: 24px !important;
}

.p-r-24 {
  padding-left: 24px !important;
}

.p-t-24 {
  padding-left: 24px !important;
}

.p-l-0 {
  padding-left: 0px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.p-t-6 {
  padding-top: 6px;
}

.p-r-10 {
  padding-right: 10px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.p-l-10 {
  padding-left: 10px !important;
}

.p-b-12 {
  padding-bottom: 12px !important;
}

.p-t-12 {
  padding-top: 12px !important;
}

.p-t-16 {
  padding-top: 16px !important;
}

.p-r-16 {
  padding-right: 16px !important;
}

.p-b-16 {
  padding-bottom: 16px !important;
}

.p-l-15 {
  padding-left: 15px !important;
}

.p-l-16 {
  padding-left: 16px !important;
}

.p-t-20 {
  padding-top: 20px !important;
}

.p-r-20 {
  padding-right: 20px !important;
}

.p-b-20 {
  padding-bottom: 20px !important;
}

.p-l-20 {
  padding-left: 20px !important;
}

.p-r-32 {
  padding-right: 32px !important;
}

.p-l-32 {
  padding-left: 32px !important;
}

.p-t-32 {
  padding-top: 32px !important;
}

.p-b-32 {
  padding-top: 32px !important;
}

.m-0 {
  margin: 0px !important;
}

.m-10 {
  margin: 10px !important;
}

.m-20 {
  margin: 20px !important;
}

.m-30 {
  margin: 30px !important;
}

.m-t-0 {
  margin-top: 0px !important;
}

.m-t-5 {
  margin-top: 5px !important;
}

.m-r-0 {
  margin-right: 0px !important;
}

.m-b-0 {
  margin-bottom: 0px !important;
}

.m-l-0 {
  margin-left: 0px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-r-20 {
  margin-right: 20px !important;
}

.m-r-16 {
  margin-right: 16px !important;
}

.p-r-16 {
  margin-right: 16px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-l-20 {
  margin-left: 20px !important;
}

.m-t-22 {
  margin-top: 22px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.m-r-30 {
  margin-right: 30px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.m-l-30 {
  margin-left: 30px !important;
}

.m-b-64 {
  margin-bottom: 64px !important;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.clearfix {
  clear: both;
}

/* Components scss imported */
.bot-button-round {
  box-shadow: none !important;
  background-color: #e0fbfc !important;
  color: #253237 !important;
  margin: 0px 0;
  border-radius: 50px;
}

.bot-button {
  box-shadow: none !important;
  background-color: #e0fbfc !important;
  color: #253237 !important;
  margin: 0;
  height: 50px;
  padding: 0 20px;
  border-radius: 50px;
}

.bot-text-field .v-input__control .v-input__slot {
  border-color: transparent !important;
  background-color: rgba(157, 180, 192, 0.5) !important;
  border-radius: 50px;
  margin-bottom: 0;
}
.bot-text-field .v-input__control .v-input__slot .v-text-field__slot input {
  color: #5C6B73;
  margin-top: 10px;
}
.bot-text-field .v-input__control .v-text-field__details {
  display: none;
}

.bot-animated-card {
  width: 100%;
  bottom: 0;
  background-color: #c2dfe3;
  padding: 10px;
  box-shadow: 0 3px 17px #5C6B73;
}

/* modules scss imported */
#bot-container {
  transform: rotate(180deg);
  direction: rtl;
  top: calc(50vh - 45vh);
  height: calc(100vh - 10vh);
  background-color: #9DB4C0;
  border-radius: 10px;
  padding: 0 0 10px 0;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

#bot-content {
  bottom: 10px;
  width: 100%;
}

/*height: 80vh;*/
.message-content-bot {
  word-break: break-word;
  padding: 5px 10px;
  border-radius: 30%;
  display: inline-block;
  text-align: left;
}

.message-content-user {
  word-break: break-word;
  padding: 5px 10px;
  border-radius: 30%;
  display: inline-block;
  text-align: right;
}

.widget-content {
  text-align: center;
  margin: 0 auto;
}

.widget-question {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #253237;
  border-radius: 22px;
  margin-bottom: 10px;
  font-size: 16px;
}

@media only screen and (max-width: 767px) {
  .bot-search-filed {
    padding-bottom: 30px;
  }

  #bot-container {
    transform: rotate(180deg);
    direction: rtl;
    height: calc(100vh - 0vh);
    background-color: #9DB4C0;
    border-radius: 0px;
    padding: 0 0 10px 0;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
  }

  .DatePickerWidget {
    padding-bottom: 50px;
  }

  .RatingWidget {
    padding-bottom: 20px;
  }

  .SearchSuggestion {
    padding-bottom: 30px;
  }
}
.bot-list .v-list__tile .v-list__tile__content .v-list__tile__title {
  font-size: 16px;
}

.bot-starttyping {
  width: 52px;
  background-color: #5C6B73;
  padding: 16px 10px;
  border-radius: 7px;
}

.typing-loader {
  margin: 0px auto 0px 0px;
  width: 6px;
  height: 6px;
  -webkit-animation: line 1s linear infinite alternate;
  -moz-animation: line 1s linear infinite alternate;
  animation: line 1s linear infinite alternate;
}

@-webkit-keyframes line {
  0% {
    background-color: white;
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  25% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0px 0px 0px red, 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  75% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px white;
  }
}
@-moz-keyframes line {
  0% {
    background-color: white;
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  25% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0px 0px 0px white, 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  75% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px white;
  }
}
@keyframes line {
  0% {
    background-color: white;
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  25% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0px 0px 0px white, 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  75% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px white;
  }
}
#bot-container {
  transform: rotate(180deg);
  direction: rtl;
  top: calc(50vh - 45vh);
  height: calc(100vh - 10vh);
  background-color: #9DB4C0;
  border-radius: 10px;
  padding: 0 0 10px 0;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

#bot-content {
  bottom: 10px;
  width: 100%;
}

/*height: 80vh;*/
.message-content-bot {
  word-break: break-word;
  padding: 5px 10px;
  border-radius: 30%;
  display: inline-block;
  text-align: left;
}

.message-content-user {
  word-break: break-word;
  padding: 5px 10px;
  border-radius: 30%;
  display: inline-block;
  text-align: right;
}

.widget-content {
  text-align: center;
  margin: 0 auto;
}

.widget-question {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #253237;
  border-radius: 22px;
  margin-bottom: 10px;
  font-size: 16px;
}

@media only screen and (max-width: 767px) {
  .bot-search-filed {
    padding-bottom: 30px;
  }

  #bot-container {
    transform: rotate(180deg);
    direction: rtl;
    height: calc(100vh - 0vh);
    background-color: #9DB4C0;
    border-radius: 0px;
    padding: 0 0 10px 0;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
  }

  .DatePickerWidget {
    padding-bottom: 50px;
  }

  .RatingWidget {
    padding-bottom: 20px;
  }

  .SearchSuggestion {
    padding-bottom: 30px;
  }
}
.bubble-card-content {
  word-break: normal;
  display: inline-block;
}

.bubble-card {
  width: fit-content;
  max-width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 15px;
  border-top-left-radius: 0;
  background-color: #5C6B73;
  color: #ffffff;
}

.bubble-card-media {
  display: block;
  max-width: 250px;
  max-height: 200px;
}

.message-content-bot .BubbleWidget .bubble-card {
  width: fit-content;
  max-width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 15px;
  border-top-left-radius: 0;
  background-color: #5C6B73;
  color: #ffffff;
}

.message-content-user .BubbleWidget .bubble-card {
  width: fit-content;
  max-width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 15px;
  border-top-right-radius: 0;
  background-color: #253237;
  color: #ffffff;
}

.btn-group button {
  display: block;
}

@media only screen and (max-width: 767px) {
  .btn-group {
    padding-bottom: 40px;
  }
}
.card-group {
  width: max-content;
  padding: 10px 0;
  background-color: #fff;
  border-radius: 4px;
}
.card-group::-webkit-scrollbar {
  display: none;
}

.single-card {
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 0 5px #d2d2d2;
  margin: 2px 5px;
  padding: 10px 4px;
  display: inline-block;
  height: 100%;
  border-radius: 4px;
  -webkit-overflow-scrolling: touch;
}

.single-card-image {
  height: 25vh;
  width: 25vh;
}

.CardSliderWidget {
  overflow-x: scroll;
  width: 100%;
}

.horizontal-scroll-wrapper {
  position: absolute;
  display: block;
  top: 60;
  left: 0;
  width: calc(250px + 1px);
  max-height: 750px;
  margin: 0;
  padding-top: 1px;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(-250px);
  transform-origin: right top;
}
.horizontal-scroll-wrapper div {
  display: block;
  padding: 5px;
  background-color: #f5f5f5;
  transform: rotate(90deg);
  transform-origin: right top;
}

.squares {
  padding: 250px 0 0 0;
}
.squares div {
  width: 250px;
  height: 250px;
  margin: 10px 0;
}

@media only screen and (max-width: 767px) {
  .CardSliderWidget {
    overflow-x: auto;
    width: 95vw;
  }
}
.bot-starttyping {
  width: 52px;
  background-color: #5C6B73;
  padding: 16px 10px;
  border-radius: 7px;
}

.typing-loader {
  margin: 0px auto 0px 0px;
  width: 6px;
  height: 6px;
  -webkit-animation: line 1s linear infinite alternate;
  -moz-animation: line 1s linear infinite alternate;
  animation: line 1s linear infinite alternate;
}

@-webkit-keyframes line {
  0% {
    background-color: white;
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  25% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0px 0px 0px red, 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  75% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px white;
  }
}
@-moz-keyframes line {
  0% {
    background-color: white;
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  25% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0px 0px 0px white, 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  75% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px white;
  }
}
@keyframes line {
  0% {
    background-color: white;
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  25% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0px 0px 0px white, 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  75% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px white;
  }
}
.bubble-card-content {
  word-break: normal;
  display: inline-block;
}

.bubble-card {
  width: fit-content;
  max-width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 15px;
  border-top-left-radius: 0;
  background-color: #5C6B73;
  color: #ffffff;
}

.bubble-card-media {
  display: block;
  max-width: 250px;
  max-height: 200px;
}

.message-content-bot .BubbleWidget .bubble-card {
  width: fit-content;
  max-width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 15px;
  border-top-left-radius: 0;
  background-color: #5C6B73;
  color: #ffffff;
}

.message-content-user .BubbleWidget .bubble-card {
  width: fit-content;
  max-width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 15px;
  border-top-right-radius: 0;
  background-color: #253237;
  color: #ffffff;
}

.btn-group button {
  display: block;
}

@media only screen and (max-width: 767px) {
  .btn-group {
    padding-bottom: 40px;
  }
}
.card-group {
  width: max-content;
  padding: 10px 0;
  background-color: #fff;
  border-radius: 4px;
}
.card-group::-webkit-scrollbar {
  display: none;
}

.single-card {
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 0 5px #d2d2d2;
  margin: 2px 5px;
  padding: 10px 4px;
  display: inline-block;
  height: 100%;
  border-radius: 4px;
  -webkit-overflow-scrolling: touch;
}

.single-card-image {
  height: 25vh;
  width: 25vh;
}

.CardSliderWidget {
  overflow-x: scroll;
  width: 100%;
}

.horizontal-scroll-wrapper {
  position: absolute;
  display: block;
  top: 60;
  left: 0;
  width: calc(250px + 1px);
  max-height: 750px;
  margin: 0;
  padding-top: 1px;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(-250px);
  transform-origin: right top;
}
.horizontal-scroll-wrapper div {
  display: block;
  padding: 5px;
  background-color: #f5f5f5;
  transform: rotate(90deg);
  transform-origin: right top;
}

.squares {
  padding: 250px 0 0 0;
}
.squares div {
  width: 250px;
  height: 250px;
  margin: 10px 0;
}

@media only screen and (max-width: 767px) {
  .CardSliderWidget {
    overflow-x: auto;
    width: 95vw;
  }
}

/*# sourceMappingURL=main.css.map */
