#BotUI {
  //width: 50%;
  //margin: 0 auto;
  //display: table-cell;
  // vertical-align: middle;
}

.bot-background {
  overflow-x: hidden;
  height: 100%;
  background-image: url("../../../../static/assets/image/bot-background.png");
  background-size: 100%;
  background-position: bottom;
  background-repeat: repeat;
}

#bot-container {
  transform: rotate(180deg);
  direction: rtl;
  top: calc(50vh - 48vh);
  height: calc(100vh - 10vh);
  background-color: $bot-theme-subbody;
  border-radius: 10px;
  padding: 0 0 0 0;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

#bot-content {
  bottom: 10px;
  width: 100%;
  //padding: 10px 0;
}

/*height: 80vh;*/

#user-input-container {
  //height: 19vh;
}

.message-content-bot {
  word-break: break-word;
  padding: 5px 10px;
  //margin: 1%;
  border-radius: 30%;
  display: inline-block;
  text-align: left;
}

.message-content-user {
  word-break: break-word;
  padding: 5px 10px;
  //margin: 1%;
  border-radius: 30%;
  display: inline-block;
  text-align: right;
}

.widget-content {
  text-align: center;
  margin: 0 auto;
  //display: inline-block;
}

.bot-map-address {
  font-size: 16px;
  font-weight: 300;
  color: $bot-theme-text;
}

.widget-question {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  color: $bot-theme-text;
  border-radius: 22px;
  margin-bottom: 10px;
  font-size: 22px;
}

#powered-by {
  bottom: -20px;
  position: relative;
}

.DatePickerWidget {

}

.RatingWidget {

}

.SearchSuggestion {

}

.bot-search-filed {

}

@media only screen and (max-width: 767px) {

  #BotUI {
    //width: 100%;
    //margin: 0 auto;
  }

  .bot-search-filed {
    padding-bottom: 30px;
  }

  #bot-container {
    transform: rotate(180deg);
    direction: rtl;
    height: calc(100vh - 5vh);
    background-color: $bot-theme-subbody;
    border-radius: 0px;
    padding: 0 0 0 0;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
  }

  .DatePickerWidget {
    padding-bottom: 50px;
  }

  .RatingWidget {
    padding-bottom: 20px;
  }

  .SearchSuggestion {
    padding-bottom: 30px;
  }

  #powered-by {
    bottom: -5px;
    position: relative;
  }

}
