.typing-loader {
  margin: 60px auto 60px 1px;
  width: 6px;
  height: 6px;
  -webkit-animation: line 1s linear infinite alternate;
  -moz-animation: line 1s linear infinite alternate;
  animation: line 1s linear infinite alternate; }

@-webkit-keyframes line {
  0% {
    background-color: black;
    box-shadow: 12px 0px 0px 0px rgba(0, 0, 0, 0.2), 24px 0px 0px 0px rgba(0, 0, 0, 0.2); }
  25% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 12px 0px 0px 0px black, 24px 0px 0px 0px rgba(0, 0, 0, 0.2); }
  75% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(0, 0, 0, 0.2), 24px 0px 0px 0px black; } }
@-moz-keyframes line {
  0% {
    background-color: black;
    box-shadow: 12px 0px 0px 0px rgba(0, 0, 0, 0.2), 24px 0px 0px 0px rgba(0, 0, 0, 0.2); }
  25% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 12px 0px 0px 0px black, 24px 0px 0px 0px rgba(0, 0, 0, 0.2); }
  75% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(0, 0, 0, 0.2), 24px 0px 0px 0px black; } }
@keyframes line {
  0% {
    background-color: black;
    box-shadow: 12px 0px 0px 0px rgba(0, 0, 0, 0.2), 24px 0px 0px 0px rgba(0, 0, 0, 0.2); }
  25% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 12px 0px 0px 0px black, 24px 0px 0px 0px rgba(0, 0, 0, 0.2); }
  75% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(0, 0, 0, 0.2), 24px 0px 0px 0px black; } }
#BotUI {
  height: 95vh;
  font-family: cursive; }

#bot-container {
  height: 80vh;
  position: relative; }

#bot-content {
  position: absolute;
  bottom: 0;
  overflow-y: scroll;
  width: 100%; }

/*height: 80vh;*/
#user-input-container {
  height: 19vh; }

.message-content-bot {
  word-break: break-word;
  padding: 1.5%;
  margin: 1%;
  border-radius: 30%;
  display: inline-block;
  text-align: left; }

.message-content-user {
  word-break: break-word;
  padding: 1.5%;
  margin: 1%;
  border-radius: 30%;
  display: inline-block;
  text-align: right; }

.widget-content {
  text-align: center;
  display: inline-block; }

.bubble-card img {
  width: 50%; }

.bubble-card-content {
  word-break: normal;
  display: inline-block; }

.bubble-card {
  width: fit-content;
  max-width: 100%;
  padding: 1.5%;
  margin: 1%;
  border-radius: 10%;
  background-color: #5086c7;
  color: whitesmoke; }

.btn-group button {
  border-radius: 50%;
  background-color: #586eaf;
  border: 1px solid #121180;
  color: white;
  padding: 16px 32px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 100%;
  display: block; }
  .btn-group button:hover {
    background-color: #f9f9f9;
    color: black;
    border: 1px solid #121180; }
  .btn-group button:not(:last-child) {
    border-bottom: none; }

.card-group {
  width: 90vw;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap; }
  .card-group::-webkit-scrollbar {
    display: none; }

.single-card {
  cursor: pointer;
  border: 2px solid #71a0ff;
  margin: 2px;
  display: inline-block;
  height: 100%;
  border-radius: 4%;
  -webkit-overflow-scrolling: touch; }

.single-card-image {
  height: 25vh;
  width: 25vh; }

body {
  font: 100% "Avenir", Helvetica, Arial, sans-serif;
  color: #333; }

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px; }

/*# sourceMappingURL=main.css.map */
