@import "../variables";


.btn-group button {
  //border-radius: 50%;
  //background-color: $button-background-color;
  //border: $button-border;
  //color: $button-font-color;
  //padding: 16px 32px;
  //text-align: center;
  //-webkit-transition-duration: 0.4s;
  //transition-duration: 0.4s;
  //cursor: pointer;
  //width: 100%;
  display: block;

  &:hover {
    background-color: $button-background-color-hover;
    color: $button-font-color-hover;
    border: $button-border-hover;
  }
  //
  //&:not(:last-child) {
  //  border-bottom: none;
  //}
}
